@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #bebebe #f3f3f3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #f3f3f3;
}

*::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 20px;
    border: 3px solid #f3f3f3;
}

.sidebar-mobile {
    @apply fixed z-50;
    width: 100%;
    max-width: 275px;
    height: 100vh;
    overflow-y: auto;
}

.content-mobile {
    @apply col-span-12;
}

.sidebar {
    @apply relative col-span-3 xl:col-span-2;
}

.content {
    @apply overflow-y-auto md:col-span-9 xl:col-span-10;
}

.content-wosidebar {
    @apply overflow-y-auto col-span-12;
}